body{
    font-size: 16px;
    color: #fff;
    background-color: #61122f;
    font-family: 'Oxygen', sans-serif;
}


#header-nav{
    background-color: #f6b319;
    border: 0px;
    border-radius: 0px;
}

#logo-img{
    background-image: url(../images/restaurant-logo.png);
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0px;
}